.main {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.header {
  text-align: center;
}
.compressorSection {
  margin: 0 auto;
  width: 100%;
}
.adSidebar {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
.adsFooter {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
@media (min-width: 900px) {
  .main {
    flex-direction: row;
    gap: 3rem;
  }
  .compressorSection {
    flex: 2;
  }
  .adSidebar {
    flex: 1;
    align-items: flex-start;
    flex-direction: column;
  }
}
